    body {
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        width: 100%;
        background-color: rgb(255, 245, 230);
    }

    h1 {
        text-transform: capitalize;
        font-size: 50px;
        background: rgb(228, 204, 100);
    }

    h2 {
        font-style: normal;
        font-weight: 500;
    }

    h3 {
        padding: 5px 0;
        margin: 0 4%;
    }

    #header-text {
        color: white;
        padding: 15px;
        text-align: center;
        margin: 0;
    }

    #nav {
        z-index: 2;
        overflow: hidden;
        background-color: rgb(119, 88, 60);
    }

    #nav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 10px 16px;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    #nav a:hover {
        background-color: rgba(255, 209, 139, 0.644);
    }

    #nav a.active {
        background-color: rgb(228, 204, 100);
        color: white;
    }

    .body {
        padding: 16px;
        margin: 2% 10% 0 10%;
    }

    .sticky {
        position: fixed;
        top: 0px;
        width: 100%;
    }

    .sticky+.body {
        padding-top: 60px;
    }
    
    .versicle {
        color: rgb(238, 144, 238);
    }

    .responsory {
        color: skyblue;
    }
    
    .instruction {
        font-style: italic;
        margin: 0 4% ;
        padding: 0;
    }

    .paragraph {
        margin: 0 4%;
    }

    .button {
        background-color: rgb(243, 229, 182);
        align-self: center;
        width: 100%;
        text-align: left;
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        outline: none;
    }

    .tooltip {
        position: relative;
    }

    .tooltip .tooltip-text {
        margin: 0 5%;
        visibility: hidden;
        width: 90%;
        background-color: rgb(90, 63, 40);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        top: 125%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip-text {
        padding: 14px;
    }

    .tooltip:hover .tooltip-text {
        visibility: visible;
        opacity: 0.90;
    }

    .citation-text {
        font-style: italic;
        font-weight: 300;
    }

    .citation-block {
        text-align: right;
    }

    .citation-break {
        background-color: rgb(119, 88, 60);
        border-width: 0;
        height: 1px;
        width: 25%;
        margin-left: 75%;
    }

    .dropdown-master {
        cursor: pointer;
        border-style: solid;
        border-color: rgb(119, 88, 60);
    }

    .dropdown-active, .button:hover {
        background-color: rgb(236, 213, 136);
    }

    .dropdown-slave {
        max-height: 0px;
        overflow: hidden;
        padding: 0;
        transition: max-height;
    }

    .dropdown-box {
        padding: 16px;
        background: rgba(148, 97, 53, 0.596);
        margin: none;
    }

    .passage {
        font-style: italic;
        border-radius: 50px;
        background-color: rgb(185, 127, 76);
    }