:root {
    /* --body-bg:      #706767; */
    --body-bg:      #fff5e6;
    /* --main:         #56b2e7; */
    --main:         #e4cc64;
    --header-text:  #ffffff;

    /* --nav-bg:       #262626; */
    --nav-bg:       #94613598;
    /* --nav-hover:    #d4e765; */
    --nav-hover:    #ffd18ba4;
    --nav-text:     #ffffff;
    
    --cit-text-bg:  #630909;

    /* --headers-text: #ffffff; */
    --headers-text: #630909;

    /* --form-bg:      #fffff08a; */    
    --form-bg:      #94613598;
    /* --form-main:    #f0e68c; */
    --form-main:    #f3e5b6;
    /* --form-in:      #7cfc00; */
    --form-in:      #b97f4c8a;
    /* --form-button:  #ffffff; */
    --form-button:  #ecd588;

    --drop-border:  #630909;
    --drop-master:  #f3e5b6;
    /* --drop-hover:   #961616; */
    --drop-hover:   #ecd588;
    /* --drop-slave:   #7c0707; */
    --drop-slave:   #94613598;

    /* --pray-bg:      #5bb4ab; */
    --pray-bg:      #f3e5b6;

    /* --span-text:    #ffffff; */
    --span-text:    #630909;

    /* --verse-bg:     #ffff00; */
    --verse-bg:     #ebc989;

    /* --resp-text:    #87ceeb; */
    --resp-text:    #c2955b;

    --pray-hr:      #630909;

    --close:        #630909;
    --close-hover:  #8a1212;
    --close-text:   #ffffff;
}

abbr {
    text-decoration: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    width: 100%;
    background-color: var(--body-bg);
}

h1 {
    text-transform: capitalize;
    font-size: 50px;
    background: var(--main);
}

h2 {
    font-style: normal;
    font-weight: 500;
}

h3 {
    padding: 5px 0;
    margin: 0 4%;
}

h3, h2 {
    color: var(--headers-text);
}

input[type=radio] {
    margin-left: 0;
}

span {
    color: var(--span-text);
}

hr {
    border: solid 1px;  
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

#header-text {
    color: var(--header-text);
    padding: 15px;
    text-align: center;
    margin: 0;
}


    /* Start of nav bar */
#nav {
    z-index: 2;
    overflow: hidden;
    background-color: var(--nav-bg);
}

#nav a {
    float: left;
    display: block;
    color: var(--nav-text);
    text-align: center;
    padding: 10px 16px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#nav a:hover {
    border-radius: 0 0 0.5em 0.5em; 
    background-color: var(--nav-hover);
}

#nav a.active {
    background-color: var(--main);
    border-radius: 0 0 0.5em 0.5em; 
}

.body {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 2% 10% 0 10%;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
}

.sticky+.body {
    padding-top: 60px;
}
    /* End of nav bar */
    

.instruction {
    font-style: italic;
    /* margin: 0 4% ; */
    padding: 0;
}

.paragraph {
    margin: 0 4%;
}

.button {
    background-color: var(--main);
    border-width: 0.15em;
    align-self: center;
    width: 100%;
    text-align: left;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    outline: none;
}


    /* Start of citation */
.citation-text {
    font-style: italic;
    font-weight: 300;
}

.citation-block {
    text-align: right;
    color: var(--cit-text-bg);
}

.citation-break {
    background-color: var(--cit-text-bg);
    border-width: 0;
    height: 1px;
    width: 25%;
    margin-left: 75%;
}
    /* End of citation */


        /* New version */

    /* Start of form */
.cform {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

    padding-top: 0.5em;
    padding-left: 0.5em;

    border-radius: 0.5em;

    background-color: var(--form-bg);
}

.fcol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.fcol > div {
    display: flexbox;
    flex-grow: 1;

    padding: 0.5em;
    padding-right: 0;
    padding-bottom: 0;
    
    margin-right: 0.5em;
    margin-bottom: 0.5em;

    border-radius: 0.5em;

    background-color: var(--form-main);
}

.fcol > div > label {
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

.fsub { 
    display: flex;

    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.fsub input {
    cursor: pointer;

    outline: 0;
    border: none;
    border-radius: 0.5em;

    background-color: var(--form-button);
}

.inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.inner div{
    display: flexbox;
    flex-grow: 1;

    padding: 0.5em;
    
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    height: 100%;

    border-radius: 0.5em;

    background-color: var(--form-in);
}
    /* End of form */


    /* Begining of body */
.dropdown-master {
    cursor: pointer;
    border-style: solid;
    background-color: var(--drop-master);
    border-color: var(--drop-border);
    border-radius: 0.5em;
}

.dropdown-active {
    border-radius: 0.5em 0.5em 0 0;
}

.dropdown-active, .button:hover {
    background-color: var(--drop-hover);
}

.dropdown-slave {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    visibility: hidden;
    padding: 0;
    margin: none;
    border-radius: 0 0 0.5em 0.5em;
    background: var(--drop-slave);
    height: 0;
}


.catechism, .montfort, .mary, .prayer, .verse, .close {
    border-radius: 0.5em;
}

.catechism, .montfort, .mary, .close {
    text-align: justify;
    background-color: var(--pray-bg);
    visibility: inherit;
    margin-bottom: 1em;
    padding: 0.5em 1.5em;
}

.prayer, .mary {
    flex-direction: column;
    text-align: justify;
    background-color: var(--pray-bg);
    margin-bottom: 1em;
    padding: 0.5em 1.5em;
}

.verse {
    visibility: inherit;
    margin-bottom: 1em;
    padding: 0.5em 1.5em;   
    background-color: var(--verse-bg);
}

.joyful {
    display: flex;
    flex-direction: column;
}

.responsory {
    font-style: italic;
    color: var(--resp-text);
}

.parenthesis {
    font-style: italic;
    color: var(--resp-text);
}

.instruction {
    text-align: justify;
    color: var(--resp-text);
}

.close {
    display: flex;
    background-color: var(--close);
    justify-content: center;
    align-content: center;
}

.close div {
    display: flexbox;
    color: var(--close-text);
}

.close:hover {
    background-color: var(--close-hover);
}

.inner-hr {
    border: solid 1px;  
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    color: var(--pray-hr);
}
    /* End of body */